body {
    background-color: #e6ffe6; /* Verde claro */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.top-text,
.left-text,
.right-text {
    background-color: #ccffcc; /* Verde claro */
    padding: 10px;
    margin-bottom: 20px;
}

.center-content {
    text-align: center;
    margin-bottom: 20px;
}

.center-content img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.bottom-link {
    text-align: center;
    margin-bottom: 20px;
}

.bottom-link a {
    color: #006600; /* Verde escuro */
    text-decoration: none;
    font-weight: bold;
}

.bottom-link a:hover {
    text-decoration: underline;
}

